.button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px; 
  border: 2px solid #ffffff;
  padding: 10px;
  
}

.button1 button {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  font-size: 20px;
  text-align: center;
  border:solid;
  width: 40px;
  height: 40px;
  justify-content: center;
  
}
.output{
  border:  black solid;
  border: box;
  width: 260px;
  height: 40px;
  background-color: rgb(9, 9, 9);
  color: rgb(21, 111, 176);
  font-size: large;
  text-align: center;
}
.button2{
  background-color: aqua;
}


